services:
  rag-server:
    container_name: rag-server
    image: nvcr.io/nvidia/blueprint/rag-server:${TAG:-2.3.0}
    build:
      context: ../../
      dockerfile: src/nvidia_rag/rag_server/Dockerfile
    command: --port 8081 --host 0.0.0.0 --workers 8
    volumes:
    - ${PROMPT_CONFIG_FILE}:${PROMPT_CONFIG_FILE}
    environment:
      EXAMPLE_PATH: ./nvidia_rag/rag_server
      PROMPT_CONFIG_FILE: ${PROMPT_CONFIG_FILE:-/prompt.yaml}
      MINIO_ENDPOINT: minio:9010
      MINIO_ACCESSKEY: minioadmin
      MINIO_SECRETKEY: minioadmin
      APP_VECTORSTORE_URL: ${APP_VECTORSTORE_URL:-http://milvus:19530}
      APP_VECTORSTORE_NAME: ${APP_VECTORSTORE_NAME:-"milvus"}
      APP_VECTORSTORE_INDEXTYPE: ${APP_VECTORSTORE_INDEXTYPE:-"GPU_CAGRA"}
      APP_VECTORSTORE_SEARCHTYPE: ${APP_VECTORSTORE_SEARCHTYPE:-"dense"}
      APP_VECTORSTORE_ENABLEGPUSEARCH: ${APP_VECTORSTORE_ENABLEGPUSEARCH:-True}
      APP_VECTORSTORE_EF: ${APP_VECTORSTORE_EF:-100}
      COLLECTION_NAME: ${COLLECTION_NAME:-multimodal_data}
      APP_RETRIEVER_SCORETHRESHOLD: 0.25
      VECTOR_DB_TOPK: ${VECTOR_DB_TOPK:-100}
      APP_LLM_MODELNAME: ${APP_LLM_MODELNAME:-"nvidia/llama-3.3-nemotron-super-49b-v1.5"}
      APP_LLM_SERVERURL: ${APP_LLM_SERVERURL-"nim-llm:8000"}
      LLM_MAX_TOKENS: ${LLM_MAX_TOKENS:-32768}
      LLM_TEMPERATURE: ${LLM_TEMPERATURE:-0}
      LLM_TOP_P: ${LLM_TOP_P:-1.0}
      APP_QUERYREWRITER_MODELNAME: ${APP_QUERYREWRITER_MODELNAME:-"nvidia/llama-3.3-nemotron-super-49b-v1.5"}
      APP_QUERYREWRITER_SERVERURL: ${APP_QUERYREWRITER_SERVERURL-"nim-llm:8000"}
      APP_FILTEREXPRESSIONGENERATOR_MODELNAME: ${APP_FILTEREXPRESSIONGENERATOR_MODELNAME:-"nvidia/llama-3.3-nemotron-super-49b-v1.5"}
      APP_FILTEREXPRESSIONGENERATOR_SERVERURL: ${APP_FILTEREXPRESSIONGENERATOR_SERVERURL-"nim-llm:8000"}
      ENABLE_FILTER_GENERATOR: ${ENABLE_FILTER_GENERATOR:-False}
      APP_EMBEDDINGS_SERVERURL: ${APP_EMBEDDINGS_SERVERURL-"nemoretriever-embedding-ms:8000"}
      APP_EMBEDDINGS_MODELNAME: ${APP_EMBEDDINGS_MODELNAME:-nvidia/llama-3.2-nv-embedqa-1b-v2}
      APP_RANKING_SERVERURL: ${APP_RANKING_SERVERURL-"nemoretriever-ranking-ms:8000"}
      APP_RANKING_MODELNAME: ${APP_RANKING_MODELNAME:-"nvidia/llama-3.2-nv-rerankqa-1b-v2"}
      ENABLE_RERANKER: ${ENABLE_RERANKER:-True}
      RERANKER_CONFIDENCE_THRESHOLD: ${RERANKER_CONFIDENCE_THRESHOLD:-0.0}
      ENABLE_VLM_INFERENCE: ${ENABLE_VLM_INFERENCE:-false}
      ENABLE_VLM_RESPONSE_REASONING: ${ENABLE_VLM_RESPONSE_REASONING:-false}
      APP_VLM_MAX_TOTAL_IMAGES: ${APP_VLM_MAX_TOTAL_IMAGES:-4}
      APP_VLM_MAX_QUERY_IMAGES: ${APP_VLM_MAX_QUERY_IMAGES:-1}
      APP_VLM_MAX_CONTEXT_IMAGES: ${APP_VLM_MAX_CONTEXT_IMAGES:-1}
      APP_VLM_RESPONSE_AS_FINAL_ANSWER: ${APP_VLM_RESPONSE_AS_FINAL_ANSWER:-false}
      APP_VLM_SERVERURL: ${APP_VLM_SERVERURL-"http://vlm-ms:8000/v1"}
      APP_VLM_MODELNAME: ${APP_VLM_MODELNAME:-"nvidia/llama-3.1-nemotron-nano-vl-8b-v1"}
      NVIDIA_API_KEY: ${NGC_API_KEY:?"NGC_API_KEY is required"}
      APP_RETRIEVER_TOPK: ${APP_RETRIEVER_TOPK:-10}
      LOGLEVEL: ${LOGLEVEL:-INFO}
      ENABLE_QUERYREWRITER: ${ENABLE_QUERYREWRITER:-False}
      ENABLE_CITATIONS: ${ENABLE_CITATIONS:-True}
      ENABLE_GUARDRAILS: ${ENABLE_GUARDRAILS:-False}
      NEMO_GUARDRAILS_URL: ${NEMO_GUARDRAILS_URL:-nemo-guardrails-microservice:7331}
      CONVERSATION_HISTORY: 5
      APP_TRACING_ENABLED: ${APP_TRACING_ENABLED:-"False"}
      APP_TRACING_OTLPHTTPENDPOINT: http://otel-collector:4318/v1/traces
      APP_TRACING_OTLPGRPCENDPOINT: grpc://otel-collector:4317
      PROMETHEUS_MULTIPROC_DIR: /tmp-data/prom_data
      ENABLE_SOURCE_METADATA: ${ENABLE_SOURCE_METADATA:-true}
      FILTER_THINK_TOKENS: ${FILTER_THINK_TOKENS:-true}
      ENABLE_REFLECTION: ${ENABLE_REFLECTION:-false}
      MAX_REFLECTION_LOOP: ${MAX_REFLECTION_LOOP:-3}
      CONTEXT_RELEVANCE_THRESHOLD: ${CONTEXT_RELEVANCE_THRESHOLD:-1}
      RESPONSE_GROUNDEDNESS_THRESHOLD: ${RESPONSE_GROUNDEDNESS_THRESHOLD:-1}
      REFLECTION_LLM: ${REFLECTION_LLM:-"nvidia/llama-3.3-nemotron-super-49b-v1.5"}
      REFLECTION_LLM_SERVERURL: ${REFLECTION_LLM_SERVERURL-"nim-llm:8000"}
      ENABLE_QUERY_DECOMPOSITION: ${ENABLE_QUERY_DECOMPOSITION:-false}
      MAX_RECURSION_DEPTH: ${MAX_RECURSION_DEPTH:-3}
    ports:
    - 8081:8081
    expose:
    - '8081'
    shm_size: 5gb
  rag-frontend:
    container_name: rag-frontend
    image: nvcr.io/nvidia/blueprint/rag-frontend:${TAG:-2.3.0}
    build:
      context: ../../frontend
      dockerfile: ./Dockerfile
      args:
        VITE_API_CHAT_URL: ${VITE_API_CHAT_URL:-http://rag-server:8081/v1}
        VITE_API_VDB_URL: ${VITE_API_VDB_URL:-http://ingestor-server:8082/v1}
        VITE_MILVUS_URL: http://milvus:19530
    ports:
    - 8090:3000
    expose:
    - '3000'
    environment:
      VITE_API_CHAT_URL: ${VITE_API_CHAT_URL:-http://rag-server:8081/v1}
      VITE_API_VDB_URL: ${VITE_API_VDB_URL:-http://ingestor-server:8082/v1}
      VITE_MILVUS_URL: http://milvus:19530
    depends_on:
    - rag-server
networks:
  default:
    name: s-fx-40-v1_default
